.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    border:1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.25;
    background-color: #fff;
}
.card:hover {
    transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card-title{
    font-size: 18px;
    margin : 10px 0 5px;
}
.card-description{
    font-size: 18px;
    margin : 10px 0 5px;
}